<header class="navbar navbar-expand bd-navbar">
  <a class="siteName" routerLink="/" aria-label="Coffee Watch">
    <span><img src="../assets/logo.png" class="img-fluid siteLogo" /></span><span class="siteTitle fancyFont">Coffee Watch</span>
  </a>
  <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" routerLink="#" data-toggle="dropdown" id="loginDropDown"
        aria-haspopup="true">
        <img src="../assets/loginIcon.png" width="40" height="40" class="img-fluid" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginDropDown">
      </div>
    </li>
  </ul>
</header>