.bd-navbar
{
  background-color: #cd6133;
}

.navbar
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.page-title
{
  font-size: 2rem;
  color: #444444;
  font-weight: bold;
  vertical-align: center;
}