<header class="navbar navbar-expand bd-navbar">
  <a class="siteName" routerLink="/home" aria-label="Coffee Watch">
    <span><img src="../assets/logo.png" class="img-fluid siteLogo" /></span><span class="siteTitle fancyFont">Coffee Watch</span>
  </a>
  <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
    <li *ngIf="this.userService.isloggedIN() && router.url != '/newCoffeeShop'" class="nav-item">
      <a class="nav-item nav-link mr-md-2" ngbPopover="Προσθήκη Καφετέριας" placement="bottom" triggers="mouseenter:mouseleave" routerLink="/newCoffeeShop"><img class="img-fluid icon" src="../assets/newCoffeeShop.png" /></a>
    </li>
    <li ngbDropdown class="nav-item loginMenu">
      <a class="nav-item nav-link mr-md-2" ngbDropdownToggle (click)="updateLoginStatus()"  data-toggle="dropdown" id="loginDropDown" aria-haspopup="true"><img src="../assets/loginIcon.png" class="img-fluid icon" /></a>
      <div ngbDropdownMenu  class="dropdown-menu-right loginDropDown" aria-labelledby="loginDropDown">
        <div *ngIf="loggedIN === true">{{userService.currentUsername}}</div>
        <a *ngIf="loggedIN !== true" class="dropdown-item" routerLink='/login'>Σύνδεση</a>
        <a *ngIf="loggedIN !== true" class="dropdown-item" routerLink='/register'>Εγγραφή</a>
        <a *ngIf="loggedIN === true" class="dropdown-item" (click)='logout()'>Αποσύνδεση</a>
      </div>
    </li>
  </ul>
</header>