@font-face {
  font-family: "Caviar Dreams";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/CaviarDreams.ttf");
}

@font-face {
  font-family: "Caviar Dreams";
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/CaviarDreamsBold.ttf");
}

@font-face {
  font-family: "Caviar Dreams";
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/CaviarDreamsItalic.ttf");
}

@font-face {
  font-family: "Caviar Dreams";
  font-weight: bold;
  font-style: italic;
  src: url("assets/fonts/CaviarDreamsBoldItalic.ttf");
}

html *
{
   font-family: "Caviar Dreams" !important;
}
