@import '~css-star-rating/css/star-rating';

@font-face {
  font-family: "Caviar";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/CaviarDreams.ttf");
}

@font-face {
  font-family: "Caviar";
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/CaviarDreamsBold.ttf");
}

@font-face {
  font-family: "Caviar";
  font-weight: normal;
  font-style: italic;
  src: url("assets/fonts/CaviarDreamsItalic.ttf");
}

@font-face {
  font-family: "Caviar";
  font-weight: bold;
  font-style: italic;
  src: url("assets/fonts/CaviarDreamsBoldItalic.ttf");
}

@font-face {
  font-family: "BP";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/BP.otf");
}

@font-face {
  font-family: "BP";
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/BPBold.otf");
}

.fancyFont
{
  font-family: "Caviar" !important;
}

html *
{
   font-family: "BP" !important;
   color: #3c3c3c !important;
}


body {
    background-color: #f1e9e1 !important;
}

*:focus {
    outline: 0 !important;
}
