<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Coffee Watch">
      <img src="../assets/logo.png" width="50" height="50" class="img-fluid" />
    </a>
    <div class="col-sm-10 page-title"><b>Coffee Watch</b></div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" id="loginDropDown" aria-haspopup="true" aria-expanded="false">
          <img src="../assets/loginIcon.png" width="40" height="40" class="img-fluid" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginDropDown">
        </div>    
      </li>
    </ul>
  </header>
  <main class="bd-masthead" id="content" role="main">
    <div class="container">
      <div class="justify-content-center">
        <app-search-map></app-search-map>
      </div>
    </div>
  </main>
