<div *ngIf="coffeeShops === undefined" class="row selectCoffeeComponent">
  <div class="row title"><h1>Επίλεξε έναν καφέ</h1></div>
  <div class="grid">
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat0" checked/>
      <label class="shadow-sm rounded contentBG" for="cat0"><img src="../assets/images/coffees/espresso.png"/></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat1" />
      <label class="shadow-sm rounded contentBG" for="cat1"><img src="../assets/images/coffees/freddo espresso.png" /></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat2" />
      <label class="shadow-sm rounded contentBG" for="cat2"><img src="../assets/images/coffees/cappuccino.png" /></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat3" />
      <label class="shadow-sm rounded contentBG" for="cat3"><img src="../assets/images/coffees/freddo cappuccino.png" /></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat4" />
      <label class="shadow-sm rounded contentBG" for="cat4"><img src="../assets/images/coffees/latte.png" /></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat5" />
      <label class="shadow-sm rounded contentBG" for="cat5"><img src="../assets/images/coffees/nes.png" /></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat6" />
      <label class="shadow-sm rounded contentBG" for="cat6"><img src="../assets/images/coffees/frappe.png" /></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat7" />
      <label class="shadow-sm rounded contentBG" for="cat7"><img src="../assets/images/coffees/filter.png" /></label>
    </span>
    <span class="cell">
      <input type="radio" name="coffeesGroup" id="cat8" />
      <label class="shadow-sm rounded contentBG" for="cat8"><img src="../assets/images/coffees/greek.png" /></label>
    </span>
  </div>
</div>