<ng-template #filterSearch let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Φίλτρα Αναζήτησης</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="filterForm" id="mainform" (ngSubmit)="onFilterSubmit();modal.dismiss('Submit')">
      <div class="form-group row label">
        <h4>Κατηγορίες καφέ:</h4>
        <label class="form-check-label checkBoxHint">(Επιλέξτε έως 3 καφέδες)</label>
      </div>
      <div class="form-group row">
        <table class="table">
          <tr>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat0" formControlName="cat0">
                <label class="form-check-label clickableLabel" for="cat0">Espresso</label>
              </span>
            </td>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat1" formControlName="cat1">
                <label class="form-check-label clickableLabel" for="cat1">Freddo espresso</label>
              </span>
            </td>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat2" formControlName="cat2">
                <label class="form-check-label clickableLabel" for="cat2">Cappuccino</label>
              </span>
            </td>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat3" formControlName="cat3">
                <label class="form-check-label clickableLabel" for="cat3">Freddo cappuccino</label>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat4" formControlName="cat4">
                <label class="form-check-label clickableLabel" for="cat4">Latte</label>
              </span>
            </td>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat5" formControlName="cat5">
                <label class="form-check-label clickableLabel" for="cat5">Nes</label>
              </span>
            </td>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat6" formControlName="cat6">
                <label class="form-check-label clickableLabel" for="cat6">Frappe</label>
              </span>
            </td>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat7" formControlName="cat7">
                <label class="form-check-label clickableLabel" for="cat7">Φίλτρου</label>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
                <input class="checkBox" type="checkbox" value="" id="cat8" formControlName="cat8">
                <label class="form-check-label clickableLabel" for="cat8">Ελληνικός</label>
              </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group row label">
        <h4>Ελάχιστη βαθμολογία:</h4>
      </div>
      <div class="form-group row starsDiv justify-content-center">
          <star-rating-control class="clickableStars" formControlName="starsRating" staticColor="default" label-position="right" [rating]="0" [hoverEnabled]="true" size="large"></star-rating-control>
      </div>
      <div class="form-group row label">
        <h4>Τιμή:</h4>
      </div>
      <div class="form-group row justify-content-center">
        <span class="col-sm-4 inlineDescr">
          <span class="input-group-prepend">
            <span class="input-group-text bgColor">Ελάχιστη:</span>
          </span>
          <input class="price" type="number" step=".1" id="price-min" min="0" formControlName="priceMin" />
        </span>
        <span class="col-sm-4 inlineDescr">
          <span class="input-group-prepend">
            <span class="input-group-text bgColor">Μέγιστη:</span>
          </span>
          <input class="price" type="number" step=".1" id="price-max" min="0" formControlName="priceMax" />
        </span>
      </div>
      <div class="form-group row label">
        <h4>Μέγιστη απόσταση καφετεριών:</h4>
      </div>
      <div class="row maxDistanceSlider justify-content-center">
        <ng5-slider class="col-sm-6" [(value)]="value" [options]="options"></ng5-slider>
      </div>
      <div class="form-group row label">
        <h4>Ταξινόμηση με βάση:</h4>
      </div>
      <div class="form-group row justify-content-center radiosDiv">
        <span class="customCol">
          <input class="radio" checked="" type="radio" name="sortRadios" formControlName="sortRadios" id="priceRadio" value="sortPrice"/>
          <label class="form-check-label clickableLabel" for="priceRadio">Τιμή</label>
        </span>
        <span class="customCol">
          <input class="radio" type="radio" name="sortRadios" formControlName="sortRadios" id="distanceRadio" value="sortDistance" />
          <label class="form-check-label clickableLabel" for="distanceRadio">Απόσταση</label>
        </span>
        <span class="customCol">
          <input class="radio" type="radio" name="sortRadios" formControlName="sortRadios" id="ratingRadio" value="sortRating" />
          <label class="form-check-label clickableLabel" for="ratingRadio">Βαθμολογία</label>
        </span>
        <span class="customCol">
          <input class="radio" type="radio" name="sortRadios" formControlName="sortRadios" id="valueForMoneyRadio" value="sortvalueForMoney" />
          <label class="form-check-label clickableLabel" for="valueForMoneyRadio">Value for money</label>
        </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary outlineSecondaryNoHover" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Ακύρωση</button>
    <button type="submit" form="mainform" class="btn orangeButton" [disabled]="!filterForm.valid">Δημοσίευση</button>
  </div>
</ng-template>

<a class="filterSearch" (click)="open(filterSearch)" ngbPopover="Φίλτρα αναζήτησης" triggers="mouseenter:mouseleave">
  <img src="../assets/filterIcon.png" class="img-fluid filterSearchIcon" />
</a>