.customContainer
{
    width: 80%;
}

.center
{
    margin: 12vh auto 0;
}

.newCoffeeShop
{
    padding: 2vw;
    font-size: 1.1vw;
    height: 80vh;
}

.button
{
    /* width: 40%;
    height: 4.5vh; */
    margin: 5vh 0 0 0;
    font-size: 1.1vw;
}

.buttonSpan
{
    margin: auto 2vw;
}

.title
{
    justify-content: center;
    margin-bottom: 2vh;
}

.formRow
{
    margin: 2.5vh 0;
}

agm-map
{
    height: 35vh;
    /* width: 100%; */
}

.agm-map-container-inner
{
    width: 50vw;
}

.inlineDescr
{
    display: inline-flex;
}