<div class="customContainer center justify-content-center">
  <div class="my-auto shadow-sm rounded contentBG newCoffeeShop">
    <div class="row title"><h1>Προσθήκη νέας καφετέριας</h1></div>
    <div class="row ">
      <div class="col-sm-5">
        <form [formGroup]="coffeeShopForm" id="coffeeShopForm" (ngSubmit)="onCoffeeShopSubmit();">
          <table class="table">
            <tr>
              <td>Όνομα:</td>
              <td><input type="text" formControlName="name" class="form-control" /></td>
            </tr>
            <tr>
              <td>Διεύθυνση:</td>
              <td><input type="text" class="form-control blackBorder" #address [formControl]="addressControl"></td>
            </tr>
            <tr>
              <td>Τηλέφωνο:</td>
              <td><input type="text" formControlName="telephone" class="form-control" /></td>
            </tr>
            <tr>
              <td>Ιστοσελίδα:</td>
              <td><input type="text" formControlName="website" class="form-control" /></td>
            </tr>
            <tr>
              <td>Λογότυπο:</td>
              <td><input type="file" name="coffeeShopLogo" accept="image/x-png,image/jpeg" /></td>
            </tr>
          </table>
        </form>
      </div>
      <div class="col-sm-7">
        <agm-map [latitude]="centerlat" [longitude]="centerlng" [zoom]="zoomLevel">
          <agm-marker *ngIf="true" [iconUrl]="'../assets/images/selectedLocation.png'" [latitude]="centerlat" [longitude]="centerlng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="row justify-content-center">
      <span class="buttonSpan"><button type="button" class="btn btn-outline-secondary outlineSecondaryNoHover button" (click)="cancel()">Ακύρωση</button></span>
      <span class="buttonSpan"><button type="submit" class="btn orangeButton button">Προσθήκη καφετέριας</button></span>
    </div>
  </div>
</div>