.table td
{
    vertical-align: middle;
    border: none;
    padding: 0.45rem;
}

.table
{
    margin-bottom: 0;
}

.table .table
{
    background-color: transparent;
}

.coffeePrice
{
    font-size: 30px;
    color: red;
}

.iconsCenter
{
    text-align:center;
}

.showMore
{
    text-align: center;
    margin-bottom: 15px;
}

.showMore a
{
    color: black;
    font-size: 23px;
}

.coffeeShopName
{
    font-size: 2rem;
}

.coffeeName
{
    font-size: 1.5rem;
}