<div  class="row">
  <div class="col-sm-4">
    <table class="table">
      <tbody>
        <tr>
          <td><img src={{coffeeShop.iconPath}} class="img-fluid" /></td>
          <td class="coffeeShopName fancyFont">{{coffeeShop.name}}</td>
        </tr>
        <tr>
          <td class="iconsCenter"><img src="../../assets/locationPointIcon.png" class="img-fluid" /></td>
          <td><a href="https://www.google.com/maps/search/?api=1&query={{coffeeShop.address}}" target="_blank">{{coffeeShop.address}}</a></td>
        </tr>
        <tr>
          <td class="iconsCenter"><img src="../../assets/telephoneIcon.png" class="img-fluid" /></td>
          <td><a href="tel:{{coffeeShop.telephone}}">{{coffeeShop.telephone}}</a></td>
        </tr>
        <tr>
          <td class="iconsCenter"><img src="../../assets/websiteIcon.png" class="img-fluid" /></td>
          <td><a href="http://{{coffeeShop.website}}" target="_blank">{{coffeeShop.website}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <table class="table">
      <tbody>
        <tr *ngFor="let i of [0, 1, 2]">
          <td><img src="../../assets/cap.jpg" class="img-fluid" /></td>
          <td>
            <table class="table">
              <tbody>
                <tr>
                  <td class="coffeeName">{{coffeeShop.coffees[i].name}}</td>
                </tr>
                <tr>
                  <td>{{coffeeShop.coffees[i].rating}} ({{coffeeShop.coffees[i].numOfReviews}})</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="coffeePrice">{{coffeeShop.coffees[i].price}}€</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm showMore">
    <a [routerLink]="[{ outlets: {contentView: ['coffeeShop', coffeeShop.id ] } }]" class="fancyFont">
      Show More
      <img src="../../assets/rightArrowIcon.png" class="img-fluid"/>
    </a>
  </div>
</div>