<div class="container center d-flex justify-content-center">
  <div class="my-auto shadow-sm rounded contentBG loginForm">
    <div class="row justify-content-center"><h1>Σύνδεση</h1></div>
    <form [formGroup]='loginForm' (ngSubmit)="tryLogin()">
        <div class="row formRow">
          <span class="col-sm-4"><label for="email" class="col-form-label">Όνομα χρήστη:</label></span>
          <span class="col-sm-8"><input type="text" class="inputField" formControlName="email" required id="email"></span>
        </div>
        <div class="row formRow">
          <span class="col-sm-4"><label for="password" class="col-form-label">Κωδικός:</label></span>
          <span class="col-sm-8"><input type="password" class="inputField" formControlName="password" required id="password"></span>
        </div>
        <div class="row justify-content-center alert alert-warning" *ngIf="failureText !== undefined">{{failureText}}</div>
        <div class="row justify-content-center"><button type="submit" class="btn orangeButton connectButton" >Σύνδεση</button></div>
        <div class="row justify-content-center"><a [routerLink]="['/register']" >Εγγραφή</a></div>
    </form>
  </div>
</div>