.table td
{
    vertical-align: middle;
    border: none;
    padding: 0.45rem;
}

.table
{
    margin-bottom: 0;
    cursor: pointer;
}

.coffeeShopName
{
    font-size: 2rem;
}

.coffeeShopFull
{
    border: 2px solid #3c3c3c;
    border-radius: 15px;
    padding: 0.5rem;
}

.table .table
{
    background-color: transparent;
}

.coffeePrice
{
    font-size: 30px;
    color: red !important;
}

.iconsCenter
{
    text-align:center;
}

.scrollable
{
    height:50vh;
    overflow-y:auto;
    max-width: 100%;
    overflow-x: hidden;
}

.trClicked
{
    background-color:rgb(206, 190, 158);
}

.trHover:hover
{
    background-color:rgb(234, 217, 183);
}

.coffeeDetails
{
    margin: 3rem;
}

.coffeeTabs, .coffeeTabs a
{
    font-size: 1.5rem;
    color:#3c3c3c;
}

.editIcon
{
    cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: #cd6133;
    color: white !important;
}

.starRating
{
    pointer-events: none;
}

.undecoratedLink
{
    color: #3c3c3c;
    text-decoration: none;
    font-size: 23px;
}

.verticalCenter
{
    display: flex;
    align-items: center;
}

.coffeeIconCenter
{
    text-align: center;
}