.rating.medium .label-value
{
    font-size: 1rem!important;
}
.table td
{
    vertical-align: middle;
    border: none;
    padding: 0.3rem;
}

.table
{
    margin-bottom: 0;
}

.table .table
{
    background-color: transparent;
}

.coffeeShopName
{
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
}

.coffeeShopDetailsIcons
{
    text-align:center;
    padding: 0.4rem 0 !important;
}
.showMore
{
    text-align: center;
}

.showMore a
{
    color: black;
    font-size: 23px;
}

.coffeeName
{
    font-size: 1.2rem;
}

.coffeeShopDetails
{
    margin-top: 0.5rem;
}