<div  class="row">
  <div class="col-sm-5">
    <div class="row">
      <span class="col-sm-3"><img src={{coffeeShop.iconPath}} class="img-fluid" /></span>
      <span class="coffeeShopName fancyFont col-sm-9">{{coffeeShop.name}}</span>
    </div>
    <table class="table coffeeShopDetails">
      <tr>
        <td class="coffeeShopDetailsIcons"><img src="../../assets/locationPointIcon.png" class="img-fluid" /></td>
        <td><a href="https://www.google.com/maps/search/?api=1&query={{coffeeShop.address}}" target="_blank">{{coffeeShop.address}}</a></td>
      </tr>
    </table>
  </div>
  <div class="col-sm-7">
    <table class="table">
      <tr *ngFor="let coffee of coffeeShop.coffees.slice(0, 6)">
        <td>
          <table class="table">
            <tr>
              <td class="coffeeName">{{coffee.name}}</td>
            </tr>
            <tr>
              <td>
                <star-rating labelPosition="right" staticColor="default" [labelText]="coffee.extraData.rating + ' (' + coffee.extraData.numOfReviews + ' κριτικές)'"
                  [rating]="coffee.extraData.rating" [showHalfStars]="true" [readOnly]="true"></star-rating>
              </td>
            </tr>
          </table>
        </td>
        <td class="coffeePrice">{{coffee.price.toFixed(2)}}€</td>
      </tr>
    </table>
  </div>
</div>