.coffeeShopListTitle
{
    font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li
{
    border: 2px solid #444444;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

hr
{
    border-top: 1px solid #444444;
    margin-top:0;
    margin-bottom: 1.5rem;
}

.scrollable
{
    height:600px;
    overflow-y:auto;
    max-width: 100%;
    overflow-x: hidden;
}


.csClicked
{
    background-color:rgb(206, 190, 158);
}

.csHover:hover
{
    background-color:rgb(234, 217, 183);
}
