<div class="row coffeeShopListTitleRow">
  <h2 class="coffeeShopListTitle col-sm-11 fancyFont">Κοντινές Καφετέριες</h2>
  <a class="filterIcon" routerLink="/">
    <img src="../assets/filterIcon.png" class="img-fluid" />
  </a>
</div>
<hr />
<div class="">
  <ul class="scrollable">
    <li *ngFor="let coffeeShopItem of coffeeShops;let coffeeShopIndex = index" (click)="onClickCoffeeShop(coffeeShopIndex)" [ngClass]="'shadow-sm p-3 mb-5  rounded ' + (clickedCoffeeShops[coffeeShopIndex] ? 'csClicked': 'csHover')">
      <app-coffee-shop-preview [coffeeShop]="coffeeShopItem"></app-coffee-shop-preview>
    </li>
  </ul>
</div>