.coffeeShopListTitle
{
    font-weight: bold;
    width: 50%;
    left: 0;
    position:absolute;
    bottom: 0.2vh;
    margin-bottom: 0;
}

.coffeeShopListTitleRow 
{
    height: 3vh;
    position:relative;
}


.coffeeShopListSearchbar
{
    width: 50%;
    padding: 0.2vw;
    font-size: 0.8vw;
    right: 0;
    position:absolute;
    bottom: 0.7vh;
}

form
{
    align-self:bottom;
}
ul
{
  list-style-type: none;
  padding-left: 0;
}

li
{
    margin: 0 1.5rem 1.5rem 0;
    padding: 1rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

.scrollable
{
    height:75vh;
    overflow-y:auto;
    max-width: 100%;
    overflow-x: hidden;
}

.csClicked
{
    background-color:rgb(206, 190, 158) !important;
}

.csHover:hover
{
    background-color:rgb(234, 217, 183) !important;
}
