.coffeeShopListTitle
{
    font-weight: bold;
    position: absolute; 
    bottom:0;
    margin-bottom: 0;
}

.filterIcon
{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    padding-right: 1rem;
}

.coffeeShopListTitleRow 
{
    position: relative;
    height: 3vh;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li
{
    margin: 10px;
    cursor: pointer;
}

.scrollable
{
    height:40vh;
    overflow-y:auto;
    max-width: 100%;
    overflow-x: hidden;
}

.csClicked
{
    background-color:rgb(206, 190, 158);
}

.csHover:hover
{
    background-color:rgb(234, 217, 183);
}
