<div [@simpleFadeAnimation]="'in'" *ngIf="coffeeShops != undefined" class="row coffeeShopListTitleRow">
    <h2 class="coffeeShopListTitle fancyFont">Κοντινές καφετέριες</h2>
    <form [formGroup]="searchGroup"><input class="coffeeShopListSearchbar" type="text" formControlName="searchBarCoffeeShops" minlength="0" placeholder="Όνομα καφετέριας"/></form>
</div>
<hr [@simpleFadeAnimation]="'in'" *ngIf="coffeeShops != undefined" />
<div [@simpleFadeAnimation]="'in'" *ngIf="coffeeShops != undefined" class="">
  <ul class="scrollable">
    <li *ngFor="let coffeeShopItem of filteredCoffeeShops; trackBy: trackByFn" (click)="onClickCoffeeShop(coffeeShopItem.id)" 
      [ngClass]="'shadow-sm rounded contentBG ' + (selectedCoffeeShop != undefined && selectedCoffeeShop === coffeeShopItem.id ? 'csClicked': 'csHover')">
      <app-coffee-shop-small [coffeeShop]="coffeeShopItem"></app-coffee-shop-small>
    </li>
  </ul>
</div>