.appSearchMap
{
     margin-top: 30px;
     margin-bottom: 25px;
}

.searchBar
{
    margin-bottom: 20px;
}

.searchBar .form-control
{
    display: inline-block;
    width: 95%;
}

.searchButton
{
    background-color: #cd6133;
    border-color: #cd6133;
    color: white !important;
    margin-left: 5px;
}

.findMyLocation
{
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
}

.blackBorder
{
    border-color: #343a40;
}

agm-map
{
    height: 32vh;
}