<div class="appSearchMap">
  <div class=" searchBar">
    <input type="text" class="form-control blackBorder" placeholder="Αναζήτηση για..." #search [formControl]="searchControl">
    <a class="findMyLocation " (click)="getLocation()"><img class="img-fluid" src="../assets/findMyLocation.png" width="40" height="40" /></a>
  </div>
  <agm-map [latitude]="centerlat" [longitude]="centerlng" [zoom]="13" [usePanning]="true">
    <agm-marker *ngIf="userlat>0" [latitude]="userlat" [longitude]="userlng"></agm-marker>
  </agm-map>
  </div>