.selectCoffeeComponent
{
    width: 35vw;
    margin: 8vh auto 2vh;
}

.title
{
  margin: auto;
}

input[type="radio"]
{
  display: none;
}

.grid
{
  text-align: center;
}

.cell
{
  flex: 0 0 32%;
  text-align: center;
}

label
{
  padding: 0.5vw;
  margin: 0.7vw;
  position: relative;
  cursor: pointer;
}

label::before
{
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.2s;
  transform: scale(0);
}

label img
{
  width: 8vw;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

label:hover
{
    background-color:rgb(234, 217, 183) !important;
}

:checked+label
{
  background-color:rgb(206, 190, 158) !important;
  cursor: default;
}

:checked+label::before
{
  content: "✓";
  color: #3c3c3c;
  background-color: #cd6133;
  transform: scale(2);
}

:checked+label img
{
  transform: scale(0.85);
}

/* SEARCH BAR CSS */

.appSearchBar
{
    margin: 1.5vh auto 0;
}

.form-control
{
    display: inline-block;
    width: 60%;
    height: 4vh;
}

.searchButton
{
    background-color: #cd6133;
    border-color: #cd6133;
    color: white !important;
    margin-left: 5px;
}

.findMyLocation
{
    margin: 0 0.4vw;
    cursor: pointer;
    text-align: center;
}

.findMyLocationIcon
{
    width: 4vh;
    height: 4vh;
    display: block;
}

.blackBorder
{
    border-color: #343a40;
}