.appSearchMap
{
    margin: 2vh 0;
}

.form-control
{
    display: inline-block;
    width: 60%;
}

.searchButton
{
    background-color: #cd6133;
    border-color: #cd6133;
    color: white !important;
    margin-left: 5px;
}

.findMyLocation
{
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
}

.blackBorder
{
    border-color: #343a40;
}